<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="/inicio">
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-contact nombre="Maria Suarez"></app-contact>
    <app-contact nombre="Esteban Gonzales"></app-contact>
    <app-contact nombre="Mario Caminos"></app-contact>
    <app-contact nombre="Juana Nieves"></app-contact>
    <app-contact nombre="Juan Díaz"></app-contact>
  </ion-list>
</ion-content>
